* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(41, 41, 41);
}

.container {
  position: relative;
}

.clock {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgb(35, 35, 35);
  box-shadow: 5px 10px 10px rgb(19, 18, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 15px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 1.5rem;
}

.clock::before {
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  height: 120px;
  width: 7px;
  border-radius: 7px;
  background-color: var(--clr);
  position: absolute;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
}
